@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #F8F8F8;
    color: #505050;
    text-align: center;
}

header {
    padding: 1.5rem 0;
    font-size: 1.4rem;
    font-weight: 100;
}

/*front page*/

#front-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 1rem;
    background-image: url('../images/element/thebigbangtheory.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.game-intro {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 2rem;
    border-radius: 10px;
}

/* Button styling */
.start-game {
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #4CAF50; 
    color: #fff; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 1rem;
    z-index: 2;
}

.start-game:hover {
    background-color: #53c157; 
}


/* Button Alignment */
#choices {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}


/* Button styling */
.btn img {
    width: 100%;
    height: auto;
}

.btn {
    display: flex;
    width: 15%;
    height: 30%;
    margin: 0.5rem;
    padding: 0rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.btn:hover,
.btn:focus {
    background-color: #C0C0C0;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Specific Button Colors */
.btn[data-type="rock"],
.btn[data-type="paper"],
.btn[data-type="scissors"],
.btn[data-type="lizard"],
.btn[data-type="spock"] {
    background-color: transparent;
}

/* Choices Display Styling */

.choices-display {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.choice-display,
.result-area {
    flex: 1;
    text-align: center;
    height: 100%;
}

.choice-display img {
    max-width: 100%;
    height: auto;
}


/* Scoreboard Styling */
.scoreboard {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
}

.score-info {
    width: 30%;
    text-align: center;
    padding: 0.5rem;
}


/* Result Area Styling */
.result-area {
    margin: 1rem 0;
    min-width: 20%;
}


/* Restart Button Styling */
#restart-game {
    display: none;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #4CAF50;
    color: #FFFFFF;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

#restart-game:hover {
    background-color: #45A049;
}

/* Footer Styling */
footer {
    margin-top: 2rem;
    padding: 1rem 0;
    font-size: 1.2rem;
}

/* Media Query for Desktop */
@media (min-width: 60rem) {

    .game-intro {
        width: 50%;
        padding: 4rem;
    }

    .start-game-btn {
        font-size: 1.5rem;
    }

    .btn {
        width: 10%;
        padding: 1.5rem;
        font-size: 2rem;
    }

    .choices-display {
        margin: 2rem 0;
    }

    .choice-display img {
        max-width: 75%;
    }


    #choices {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: auto;
        margin-top: 12rem;
    }

    .result-area p {
        font-size: 2rem;
    }

    #restart-game {
        width: 25%;
        padding: 1rem;
        font-size: 2rem;
        margin: 1rem auto;
    }

    .scoreboard {
        font-size: 2rem;
        margin: 2rem 0;
        padding: 1rem;
    }

    .score-info {
        width: 30%;
        margin: 0 1rem;
    }

    header {
        font-size: 3rem;
    }

    .choices-display,
    .result-area,
    #restart-game {
        margin-top: 3rem;
    }

    header h1 {
        font-size: 4.4rem;
    }
}


/* Media Query for Tablet Devices */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .btn {
        width: 20%; 
        margin: 0.75rem; 
        padding: 1rem; 
    }

  
    header h1 {
        font-size: 2.5rem;
    }

    .score-info h2 {
        font-size: 1.5rem;
    }

    .score-info p {
        font-size: 1.2rem;
    }
}