@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #F8F8F8;
    color: #505050;
    text-align: center;
    padding: 1rem;
}

header {
    padding: 1.5rem 0;
    font-size: 2.4rem; 
    font-weight: 700;
}

/* Button Alignment */
#choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Button styling */
.btn img {
    width: 100%; 
    height: auto; 
}

.btn {
    display: flex; 
    width: 30%;
    height: 30%;
    margin: 1rem auto; 
    padding: 0rem; 
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem; 
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


.btn:hover {
    background-color: #C0C0C0;
}

/* Specific Button Colors */
.btn[data-type="rock"],
.btn[data-type="paper"],
.btn[data-type="scissors"],
.btn[data-type="lizard"],
.btn[data-type="spock"] {
    background-color: transparent; 
}

/* Choices Display Styling */
.choices-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

.choice-display {
    width: 30%;
    text-align: center;
}

.result-area {
    width: 20%;
    text-align: center;
}



/* Scoreboard Styling */
.scoreboard {
    display: flex;
    justify-content: space-around; 
    margin: 1rem 0; 
    font-size: 1.2rem; 
}

.score-info {
    width: 30%; 
    text-align: center; 
}

/* Result Area Styling */
.result-area {
    margin: 1rem 0;
}

/* Restart Button Styling */
#restart-game {
    display: none; 
    width: 80%; 
    margin: 1rem auto; 
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #4CAF50;
    color: #FFFFFF;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

#restart-game:hover {
    background-color: #45A049;
}

/* Footer Styling */
footer {
    margin-top: 2rem;
    padding: 1rem 0;
    font-size: 1.2rem; 
}

/* Media Query for Desktop */
@media (min-width: 60rem) {
    .btn {
        width: 45%; 
        padding: 1.5rem; 
        font-size: 2rem; 
    }

    #restart-game {
        width: 45%; 
        padding: 1.5rem; 
        font-size: 2rem; 
    }

    .scoreboard {
        font-size: 2rem; 
    }

    .score-info {
        width: 30%; 
    }

    header {
        font-size: 3rem; 
    }
}
